## Input Data##

Below data is another text classification, problem, ham and spam detection. A sms you recives in your mobile phone could be eighte ham or spam.

In [2]:
import pandas as pd

In [6]:
DATA_PATH = "/Users/gelareh/Desktop/BBC/sample_data.csv"
data = pd.read_csv(DATA_PATH )
data

                                                 Sms
0                   Pay your connection bill of 2000
1         Win 20000 by participating in the lottery.
2  Win 200 rupees by participating this competiti...
3                               I will come tomorrow

## Turn each of this sms to it's numerical vector ##

In [4]:
# your code